@use "../global" as *;
/* company
========================================================================*/
.company-greeting {

}
.company-overview {

}


.company-overview__table tr th {
  @include media(max, lg-max) {
    border-bottom: none;
    padding-bottom: .5em;
  }

  padding: 1.5em .75em;
}
.company-overview__table tr td {
  @include media(max, lg-max) {
    border-top: none;
    padding-top: .5em;
  }

  padding: 1.5em .75em;
}
