@use "../global" as *;
/* wp-block-columns
========================================================================*/

.wp-block-columns {
  @include media(max, lg-max) {
    flex-wrap: wrap !important;
  }
  @include media(min, lg-min) {
    flex-wrap: nowrap !important;
  }
}

.wp-block-columns:not(.is-not-stacked-on-mobile) > .wp-block-column {
  @include media(max, lg-max) {
    flex-basis: 100% !important;
  }
  @include media(min, lg-min) {
    flex-basis: 0 !important;
    flex-grow: 1 !important;
  }
}
