@use "../global" as *;
/* wp-block-media-text
========================================================================*/

.wp-block-media-text.is-stacked-on-mobile {
  @include media(max, lg-max) {
    grid-template-columns: 100% !important;
  }
}

.wp-block-media-text.is-stacked-on-mobile > .wp-block-media-text__media {
  @include media(max, lg-max) {
    grid-column: 1;
    grid-row: 1;
  }
}
.wp-block-media-text.is-stacked-on-mobile > .wp-block-media-text__content {
  @include media(max, lg-max) {
    grid-column: 1;
    grid-row: 2;
  }
}

.is-style-broken.is-stacked-on-mobile .wp-block-media-text__content {
  @include media(max, lg-max) {
    margin: var(--swl-mediatext--lap) 0 0 !important;
  }
}
